Repository gkumar2702/code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint_check, deploying_dag_file_into_gcs-prod

.gitlab-ci.yml:

stages:
  - pylint
  - deploy_test
before_script:
  - export TZ='Asia/Kolkata'
pylint_check:
  image: ubuntu:16.04
  stage: pylint
  tags: ["stages"]
  only:
    changes:
      - Testing/Production DAG/*
      - Testing/Production Code/*
      - .gitlab-ci.yml
      - requirements.txt
  before_script:
    - apt-get update
    - apt-get install default-jdk -y
  script:
    - apt update
    - apt install python3 -qy
    - apt install python3-pip -qy
    - pip3 install --upgrade pip
    - pip3 install -r requirements.txt
    - pwd
    - cd "Testing/Production Code"
    - pylint --exit-zero curated_dataset_creation_pylint.py
    - pylint --exit-zero curated_dataset_creation_pylint.py > lint_dag.txt
    - score_dag=$(tail -2 lint_dag.txt | awk '{print $7}' | cut -d/ -f1)
    - echo ${score_dag%.*}
    - if [ ${score_dag%.*} -gt 5 ]; then echo "PASSED"; else echo "FAILED" && exit 1; fi

deploying_dag_file_into_gcs-prod:
  stage: deploy_test
#  when: manual
  image: google/cloud-sdk
  tags: ["stages"]
  only: 
    - dev
  only:
    changes:
      - Testing/Production DAG/*
      - Testing/Production Code/*
  script:
    - apt-get install python3-openssl -qy
    - echo 'nameserver 1.1.1.1'  > /etc/resolv.conf
    - echo 'nameserver 1.0.0.1' >> /etc/resolv.conf
    - mkdir -p ./creds
    - echo $password_dev | base64 -d > ./creds/password_dev.json
    - export GOOGLE_CREDENTIALS=$(cat ./creds/password_dev.json)
    - gcloud auth activate-service-account $service_account_dev --key-file=./creds/password_dev.json
    - gsutil rsync "Testing/Production DAG/"  gs://us-east4-composer-0002-8d07c42c-bucket/dags/
    - gsutil rsync "Testing/Production Code/"  gs://us-east4-composer-0002-8d07c42c-bucket/data/Outage_restoration/IPL/Python_scripts/

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: pylint_check

Adding Pylint'ed Codes(0001)
  Deployment/Readme.txt.txt
  Deployment/Regression_Run_ws.R
  Deployment/cluster_classification_R_ws.R
  Deployment/load_predict_pylint.py
  Development/ADS creation/curated_dataset_creation.py
  Development/ADS creation/curated_dataset_creation_ws.py
  Development/ADS creation/omslive_dataset_collation.py
  Development/ADS creation/omslive_dataset_collation_ws.py
  Development/Readme.txt.txt
  Development/Weather data pull/scheduled_weatherdatapull_new.py
  Development/Weather data pull/weathersource_data_collation.py
  Development/Weather data pull/weathersource_script.py
  Development/curated_dataset_creation_pylint.py
  Development/curated_dataset_creation_ws.py
  Development/diagnostic_view_pylint.py
  Development/live_oms_preprocessing_pylint.py
  Development/oms_filechecker.py
  Development/omslive_dataset_collation_ws.py
  Development/output_collation_pylint.py
  Development/pca_storm_level.py
  Development/storm_level_comparison_pylint.py
  Development/weather_source_data_collation_pylint.py
  Development/weathersource_data_collation.py
  Development/weathersource_script_pylint.py
  Scheduling/Readme.txt.txt
  Scheduling/Scheduling codes/outage_END_END.py
  Scheduling/Scheduling codes/outage_END_END_ws.py
  Scheduling/Scheduling codes/outage_diagnostic_view.py
  Scheduling/Scheduling codes/outage_weatherdata_pull-0002.py
  Scheduling/Scheduling codes/outage_weathersource_daily.py
  Scheduling/outage_END_END_ws.py
  Scheduling/outage_diagnostic_view.py
  Scheduling/outage_end_end.py
  Scheduling/outage_file_check.py
  Scheduling/outage_his_profiles.py
  Scheduling/outage_storm_level.py
Due: none

updating live_oms file
  Testing/Production Code/live_oms_preprocessing_pylint.py
Due: pylint_check, deploying_dag_file_into_gcs-prod

changes
  .gitlab-ci.yml
Due: pylint_check

yaml file
  .gitlab-ci.yml
Due: pylint_check

Adding R scripts
  Deployment/Cust_Qty.R
  Deployment/Duration_script.R
  Deployment/Number_of_Outages_script.R
  Deployment/Recovery_Duration.R
  Deployment/classification_script.R
  Deployment/cluster_classification_R_his.R
Due: none

Adding R script
  Deployment/cluster_classification_R.R
Due: none

Update requirements.txt
  requirements.txt
Due: pylint_check

Deleting Readme.txt
  Testing/Readme.txt.txt
Due: none

Folder changes
  .gitlab-ci.yml
  Deployment/Python script codes/load_predict_pylint.py
  Deployment/R script codes/Cust_Qty.R
  Deployment/R script codes/Duration_script.R
  Deployment/R script codes/Number_of_Outages_script.R
  Deployment/R script codes/Recovery_Duration.R
  Deployment/R script codes/classification_script.R
  Deployment/R script codes/cluster_classification_R.R
  Deployment/R script codes/cluster_classification_R_his.R
Due: pylint_check

Script Changes
  Development/live_oms_preprocessing_pylint.py
  Development/oms_filechecker.py
  Development/weather_source_data_collation_pylint.py
  Development/weathersource_script_pylint.py
  Scheduling/outage_storm_level.py
Due: none

Minor fixes
  Development/curated_dataset_creation_pylint.py
  Development/live_oms_preprocessing_pylint.py
  Development/oms_filechecker.py
  Development/weather_source_data_collation_pylint.py
  Development/weathersource_script_pylint.py
Due: none

Minor fixes
  Development/live_oms_preprocessing_pylint.py
  Development/weather_source_data_collation_pylint.py
Due: none

Changes in diagnostic_view_pylint.py
  Development/diagnostic_view_pylint.py
Due: none

diagnostic view dag changes
  Scheduling/outage_diagnostic_view.py
Due: none

Changes
  Development/diagnostic_view_pylint.py
  Development/storm_level_comparison_pylint.py
Due: none

updating storm_level_comparison_pylint.py file
  Development/storm_level_comparison_pylint.py
Due: none

Adding weather pipeline scripts
  .gitlab-ci.yml
  Development/Config_file/config.ini
  Development/weather_pipeline_script_pylint.py
  Scheduling/outage_weather_pipeline.py
Due: pylint_check

Changes
  Development/storm_level_comparison_pylint.py
Due: none

adding architecture diagram
  Project Details/Architecture_end_end.jpg
Due: none

Added README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Change in diagnostic_view
  Development/diagnostic_view_pylint.py
Due: none
